<div ng-controller="loginCtrl">
    <input type="text"
        ng-model="user.username"
        placeholder="Username"
    />
    <input type="password"
        ng-model="user.password"
        placeholder="Password"
        />
    <button ng-click="login(user)">Login</button>

   <!--  <input type="text"
        ng-model="username"
        placeholder="Username"
    />
    <input type="password"
        ng-model="password"
        placeholder="Password"
        <button ng-click="login()">Login</button>
    /> -->
</div>